{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom et Prénom</th>
                <th>Société</th>
                <th>Adresse</th>
                <th>Complement</th>
                <th>Téléphone</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.fullName }}</td>
                <td>{{ address.campany }}</td>
                <td>{{ address.address }}</td>
                <td>{{ address.complement }}</td>
                <td>{{ address.phone }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.codePostal }}</td>
                <td>{{ address.country }}</td>

                <td>
                    <a href="{{ path('address_show', {'id': address.id}) }}">Voir</a>
                    <a href="{{ path('address_edit', {'id': address.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('address_new') }}">Créer un nouveau</a>
{% endblock %}
